* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "DigitalNumbers";
  src: url('./fonts/digital-numbers/DigitalNumbers-Regular.ttf');
}

:root {
  --border-color-l: #1F1F1F;
  --border-color-d: red;
  --border-color-second: #6A6A6A;
  --background-color: rgba(74, 74, 74, 0.27);
  --background-color-second-d: #AAAAAA;
  --background-color-third-ld: #131111e7;

  --text-color-green: #00FFA3;
  --color-green-opacity: #00ffa223;
  --text-color-first-l: #1F1F1F;
  --text-color-first-d: #B3B3B3;

  --text-color-skill-title: #2E2E2E;

  //light theme colors
  --light-text-color-first: white;
  --light-border-color-first: rgb(167, 167, 167);
  --light-border-color-second: rgb(180, 180, 180);
  --light-border-color-third: #3F3F3F;
  --light-border-color-fourth: rgb(97, 97, 97);
  --light-background-color-first: #3F3F3F;
  --light-background-color-second: rgb(188, 252, 195);
  --light-background-color-third: #00FFA3;
  //dark theme colors
  --dark-text-color-first: rgb(77, 77, 77);
  --dark-border-color-first: rgb(167, 167, 167);
  --dark-border-color-second: rgb(73, 73, 73);
  --dark-background-color-first: #00FFA3;
  --dark-background-color-second: rgb(77, 77, 77);

}

a {
  text-decoration: none;
  color: inherit
}

body {
  background-color: #282828;
}

li {
  list-style: none;
}

input {
  display: block;
}